<%= erb :_navbar%>
<div class="container">

<h1><%=@league.name %></h1>

<h3>Teams</h3>
<ul>
<%@league.teams.each do |x| %>
       <li><a href="/team/<%=x.id%>"> <%= x.name%></a></li>
<% end %>
</ul> 


<table>
  <tr>  
    <th>date</th>
    <th>home team</th>
    <th>away team</th>
    <th>score</th>
    <th>winner</th>
  </tr>    
<%@games.each do |x| %>
  <tr>
    <td><%= x.day%></td>
    <td> <%= x.home_team.name%></td>
    <td> <% x.away_team.name%></td>
    <td><%=x.score_array[0]%>-<%=x.score_array[1]%></td>
    <td><%= x.victory%></td>
  </tr> 
<%end%>
</table>



</div>
