<%= erb:_navbar%>
<div class="container">
<h1>Home of <%=@team.name %></h1>
<table>
  <tr>
    <th>Date</th>
    <th>Score</th>
    <th>Home</th>
    <th>Away</th>
    <th>Winner</th>
  </tr>  
  <tr>
    <%@team.games.each do |g| %>
    <td><%= g.day%></td>
    <td><%=g.score%></td>
    <td><%=g.teams.first.name%></td>
    <td><%=g.teams.second.name%></td>
    <td><%= Team.find(g.winner.first.team_id).name%></td>
    <%end%>
  </tr>

</table>  
</div>







  
